<h1>Homepage Bitch!</h1>

<% @bloggers.each do |blogger| %>
<p><%=  link_to blogger.name, blogger_path(blogger.id) %></p>
<% end %>

<%= button_to "destinations", destinations_path, method: :get %>
<p><%= button_to "create a mutherfucking posty", new_post_path, method: :get %></p>